<html lang="en">
<head>
  <meta charset="utf-8">

  <title>vue practice</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div id="app">
    <h1 v-if="hidden">Todo</h1>
    <h2 v-else>Not todo</h2>
    <ul>
      <li v-for="item in items">
        {{ item.text }}
        <div v-if="item.checked">Checked!</div>
        <button @click="item.checked = !item.checked">Toggle</button>
      </li>
    </ul>
    <input type="text" v-model="item"></input>
    <button @click="items.push({text: item, checked: true})">Add todo</button>
    <input type="text" v-model="price">
    <div>Tax ${{ tax }}</div>
    <div>Total {{ totalFormatted }}</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        item: '',
        items: [
          {text:'item1', checked: true}, 
          {text:'item2', checked: false},
          {text: 'item3', checked: true}],
        hidden: false,
        price: 100,
      },
      computed: {
        tax: function () {
          return this.price * 0.1;
        },
        total: function () {
          return parseInt(this.price) + parseInt(this.tax);
        },
        totalFormatted: function () {
          return '$' + this.total;
        }
      }
    });
  </script>
</body>
</html>