<html lang="en">
<head>
  <meta charset="utf-8">

  <title>vue practice</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div id="app">
    <ul>
      <li v-for="todo in items">{{ todo }}</li>
    </ul>
    <input type="text" v-model="item"></input>
    <button @click="items.push(item)">Add todo</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        item: '',
        items: ['item1', 'item2', 'item3']
      }
    });
  </script>
</body>
</html>