<html lang="en">
<head>
  <meta charset="utf-8">

  <title>vue practice</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div id="app">
    <h1 v-if="hidden">Todo</h1>
    <h2 v-else>Not todo</h2>
    <ul>
      <li v-for="item in items">
        {{ item.text }}
        <div v-if="item.checked">Checked!</div>
        <button @click="item.checked = !item.checked">Toggle</button>
      </li>
    </ul>
    <input type="text" v-model="item"></input>
    <button @click="items.push({text: item, checked: true})">Add todo</button>
    <input type="text" v-model="price">
    <div>Tax {{ moneyFormat(tax) }}</div>
    <div>Total {{ moneyFormat(total) }}</div>
    <accordion v-for="item in items" :item="item" :key="item.id"></accordion>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('accordion', {
      props: ['item'],
      template: `<div>
      <p>{{ item.text }}</p>
      <p @click=" toggle = !toggle">Details</p>
      <p v-if="toggle">{{ item.checked }}</p>
      </div>`,
      data: function () {
        return {
          toggle: false
          }
      }
    })
    new Vue({
      el: '#app',
      data: {
        item: '',
        items: [
          {text:'item1', checked: true, id: 1}, 
          {text:'item2', checked: false, id: 2},
          {text: 'item3', checked: true, id: 3}],
        hidden: false,
        price: 100,
      },
      computed: {
        tax: function () {
          return this.price * 0.1;
        },
        total: function () {
          return parseInt(this.price) + parseInt(this.tax);
        },
      },
      methods: {
        moneyFormat: function (price) {
          return '$' + price;
        }
      }

    });
  </script>
</body>
</html>